./Iford_IMD00V2.1.0
./Jaguar1_CLD00V2.0.0
/.ai/mcp/mcp.json
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/dictionaries/project.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/.name
/.idea/copilot.data.migration.agent.xml
/.idea/editor.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/R-AEB.iml
/.idea/vcs.xml
/.idea/VisPer.iml
SGS-Environment/
TI-Environment/
TI-Environment-1102/
TI-Environment-1100-patch/
data/
docs/
assets/
cpp/libs/
python/tests/
python/train/logs/
VisPer_ti/
VisPer_ti_1100_patch/
VisPer_ti_all_16_bit/
VisPer_ti_miao/
VisPer_ti_sucess_backup/
min_det_ti_run/
cmake-build-release-ti-1100-patch/
cmake-build-release-ti-1102/
cmake-build-release-ti-x86/
cmake-build-release-ti-x86-ort123/
cmake-build-release-x86/
cmake-build-release-x66/
ti_x86_runs/
raeb_external_support/

*.jpg
*.png
*.bin
*.onnx
*.avi
*.pyc
*.tar.gz
*.csv
*.log
*.txt
.codex
